<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<{$xoops_langcode}>" lang="<{$xoops_langcode}>">
<head>
<meta http-equiv="content-type" content="text/html; charset=<{$xoops_charset}>" />
<meta http-equiv="content-language" content="<{$xoops_langcode}>" />
<title><{$xoops_sitename}></title>
<style type="text/css">
</style>
</head>
<body>
  <div id="header"><a href="<{$xoops_url}>/"><img src="<{$xoops_url}>/images/logo.gif" alt="<{$xoops_sitename}>" title="<{$xoops_sitename}>" /></a></div>
  <div id="installCompletedConfirm"><{$lang_message_confirm}></div>
  <div id="installCompletedWarning"><{$lang_message_warning}></div>
  <div id="footer">&nbsp;<{$xoops_sitename}></div>
</body>
</html>
